MiniProject/Miniproject.json
{
  "name": "Miniproject",
  "nodes": [
    {
      "parameters": {
        "downloadAttachments": true,
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -80,
        -160
      ],
      "id": "9899cb25-287f-475d-9555-d6a572296390",
      "name": "Resume PDF จาก Gmail",
      "credentials": {
        "imap": {
          "id": "dKJMi3CdBTslUE6d",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📌 **Resume ใหม่เข้ามาแล้ว!**\n\n👤 ชื่อ-นามสกุล: {{ $json['ชื่อ-นามสกุล'] }}\n📞 เบอร์โทรศัพท์: {{ $json['เบอร์โทรศัพท์'] }}\n✉️ อีเมล: {{ $json['อีเมล'] }}\n\n📝 ประวัติคร่าวๆ:{{ $json['ประวัติและความสามารถคร่าวๆ'] }}\n\n💼 สมัครตำแหน่ง: {{ $json['สมัครตำแหน่ง'] }}\n🎯 เหมาะสมกับตำแหน่ง: {{ $json['เหมาะสมกับตำแหน่งไหน'] }}\n✅ เหมาะสมแค่ไหน: {{ $json['เหมาะสมแค่ไหน'] }}\n\n🔗 [เปิดดูไฟล์ Resume] {{ $json['Link PDF'] }}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1536,
        -176
      ],
      "id": "3142c7ab-e70f-4895-bb3a-73ee03d6f3b9",
      "name": "Discord",
      "webhookId": "23e51b5f-8932-4535-b677-1e29a4eca4b8",
      "credentials": {
        "discordWebhookApi": {
          "id": "rsE0VMIzHDdSMaZA",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        -176
      ],
      "id": "ffc4ac2f-0912-4fa8-90b8-d16ee7b1d168",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1PuiXFyfVyIP4Dru",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Convert from PDF",
        "url": "={{$json[\"webViewLink\"]}}",
        "advancedOptions": {}
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        672,
        -176
      ],
      "id": "57bd2f4e-f223-4b50-a6ce-9737a9db7e3e",
      "name": "PDFco Api",
      "credentials": {
        "pdfcoApi": {
          "id": "NdG7AQYli82vHrEg",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// รับค่าจาก item เดิม\nconst text = $json.output || \"\";\n\n// ใช้ regex ดึงค่าจากข้อความ\nconst getVal = (pattern) => {\n  const match = text.match(pattern);\n  return match ? match[1].trim() : \"\";\n};\n\nconst result = {\n  \"ชื่อ-นามสกุล\": getVal(/ชื่อ-นามสกุล:\\s*(.+)/),\n  \"เบอร์โทรศัพท์\": getVal(/เบอร์โทรศัพท์:\\s*(.+)/),\n  \"อีเมล\": getVal(/อีเมล:\\s*(.+)/),\n  \"ประวัติและความสามารถโดยสรุป\": getVal(/ประวัติและความสามารถคร่าวๆ:\\s*([\\s\\S]*?)(?=\\n- สมัครตำแหน่ง:)/),\n  \"สมัครตำแหน่ง\": getVal(/สมัครตำแหน่ง:\\s*(.+)/),\n  \"เหมาะสมแค่ไหน\": getVal(/เหมาะสมแค่ไหน.*:\\s*(.+)/),\n  \"เหมาะสมกับตำแหน่งไหน\": getVal(/ข้อเสนอแนะตำแหน่ง:[\\s\\S]*?อันดับ 1:\\s*(.+)/),\n};\n\nreturn [\n  {\n    json: result\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -176
      ],
      "id": "28145b9a-885c-4119-9ffe-9bfb76515b98",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        864,
        -304
      ],
      "id": "67ff9106-bc02-4591-bc3e-61c7b7bd590f",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "VkqgKRV78bJ2hGOA",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณคือผู้ช่วย HR วิเคราะห์ความเหมาะสมของผู้สมัครงานจากข้อความเรซูเม่ด้านล่าง\nให้ดึงข้อมูลและให้คะแนนความเหมาะสมตามกรอบเกณฑ์ของบริษัทนี้\n\n## เค้าโครงผลลัพธ์ที่ต้องส่งกลับ (ภาษาไทยเท่านั้น)\n- ชื่อ-นามสกุล:\n- เบอร์โทรศัพท์:\n- อีเมล:\n- ประวัติและความสามารถคร่าวๆ: (สรุป 3–6 บรรทัด)\n- สมัครตำแหน่ง: (ถ้าผู้สมัครไม่ได้ระบุ ให้ใส่ “ไม่ระบุ”)\n- เหมาะสมแค่ไหน (มาก/กลาง/น้อย): (สรุปความเหมาะสมโดยรวมกับตำแหน่งที่สมัคร ถ้าไม่ระบุ ให้เทียบกับตำแหน่งที่แนะนำ)\n- ความเหมาะสมกับตำแหน่ง (Developer, IT Support, Database Management):\n  - Developer: (เหมาะสม/ไม่เหมาะสม) – (ให้เหตุผลสั้นๆ 1–2 บรรทัด)\n  - IT Support: (เหมาะสม/ไม่เหมาะสม) – (เหตุผล)\n  - Database Management: (เหมาะสม/ไม่เหมาะสม) – (เหตุผล)\n- ข้อเสนอแนะตำแหน่ง (ถ้า “สมัครตำแหน่ง” ไม่ระบุ):\n  - ตำแหน่งที่แนะนำอันดับ 1: <หนึ่งใน Developer / IT Support / Database Management>\n  - เหตุผลย่อ: <อิงจากทักษะที่พบเด่นชัด>\n\n## เกณฑ์ประเมิน (ต้องยึดตามนี้)\n- มาก = หลักฐานทักษะ “ตรงจำนวนมาก” กับข้อกำหนดของตำแหน่ง (มีประสบการณ์/ผลงาน/เทคโนโลยีหลักตรง)\n- กลาง = ตรง “บางส่วน” แต่ยังขาดทักษะสำคัญ\n- น้อย = ตรงน้อยมากหรือแทบไม่เกี่ยวข้อง\n\n## ข้อกำหนดตำแหน่งของบริษัท\n1) Developer\n- Programming: JavaScript/TypeScript, Python, Java, C#\n- Web/App: HTML, CSS, React, Angular, Vue\n- Backend: Node.js, Hono, Express, Bun, Spring Boot, .NET\n- Database: MySQL, PostgreSQL, MongoDB, Redis\n\n2) IT Support\n- ประกอบ/ซ่อมคอม, ติดตั้ง Printer/Switch/Router\n- LAN/WiFi, IP, Firewall พื้นฐาน\n- ติดตั้ง Windows/Linux/MacOS, Troubleshooting\n- Remote Support (TeamViewer/AnyDesk)\n- Office 365/Google Workspace, บัญชีผู้ใช้/สิทธิ์/Email\n- Helpdesk/Ticketing (Jira, ServiceNow, OTRS), การสื่อสารผู้ใช้\n\n3) Database Management\n- ออกแบบ ERD/Relational/Normalization\n- ติดตั้ง/ตั้งค่า DB (MySQL, PostgreSQL, SQL Server, Oracle)\n- Permission/Role/Security, Backup/Recovery, Replication\n- Query Optimization, Index, Partitioning\n- SQL (SELECT/INSERT/UPDATE/DELETE, JOIN, Subquery)\n- Stored Procedures/Triggers/Transactions\n- Migration, ETL, Data Warehouse, BI (Power BI/Tableau)\n\n## กฎเมื่อตรวจไม่พบ “สมัครตำแหน่ง”\n- ให้พิจารณาความถี่และความลึกของทักษะในเรซูเม่ต่อ 3 ตำแหน่งด้านบน\n- เลือก “ตำแหน่งที่แนะนำอันดับ 1” จากตำแหน่งที่ได้ “มาก” สูงสุด\n- ถ้าคะแนนสูสี ให้เลือกตำแหน่งที่ตลาดงานกว้างกว่า (ลำดับความกว้างโดยทั่วไป: Developer > IT Support > Database Management)\n\n## ข้อจำกัดรูปแบบ\n- ห้ามใส่ Markdown/หัวข้อ/สัญลักษณ์พิเศษ นอกจากขีดรายการตามเค้าโครง\n- สั้น กระชับ ชัดเจน\n\n## ข้อความเรซูเม่\n{{ $json.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        864,
        -176
      ],
      "id": "04b043f7-2c26-49c7-bff9-a3a89fa78776",
      "name": "คัดกรองสาย"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe79bdfe-b730-4bfc-99f0-87267cb2dd3e",
              "leftValue": "=={{(()=>{\n  const subj = String($json.subject || '')\n    .normalize('NFC')\n    .replace(/^\\s*(re:|fwd?:)\\s*/gi,'')\n    .replace(/\\u200b/g,'')\n    .replace(/\\s+/g,' ')\n    .toLowerCase().trim();\n\n  const okSubject = (subj === 'ส่ง resume' || subj === 'resume' || subj === 'เรซูเม่');\n\n  const hasPdf = !!$binary && Object.values($binary).some(b=>{\n    const ext  = (b.fileExtension || '').toLowerCase();\n    const mime = (b.mimeType || '').toLowerCase();\n    return ext === 'pdf' || mime === 'application/pdf';\n  });\n\n  return okSubject && hasPdf;\n})()}}\n",
              "rightValue": "pdf",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -160
      ],
      "id": "766a27e3-e8a8-4349-a0ce-832cd5bf708a",
      "name": "If"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{$binary.attachment_0.fileName}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1n7cSYELiLL7989vPDCx68dzBkvTLryFE",
          "mode": "list",
          "cachedResultName": "Miniproject",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1n7cSYELiLL7989vPDCx68dzBkvTLryFE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        -176
      ],
      "id": "836a35c0-019a-4159-8012-3be8212ef264",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1PuiXFyfVyIP4Dru",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mZ20qTCcVy_CuUrgnkXtOCtTYALMR32zQf17OfrgD4o",
          "mode": "list",
          "cachedResultName": "ResumeMN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mZ20qTCcVy_CuUrgnkXtOCtTYALMR32zQf17OfrgD4o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mZ20qTCcVy_CuUrgnkXtOCtTYALMR32zQf17OfrgD4o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ชื่อ-นามสกุล": "={{ $json[\"ชื่อ-นามสกุล\"] }}",
            "เบอร์โทรศัพท์": "={{ $json[\"เบอร์โทรศัพท์\"] }}",
            "อีเมล": "={{ $json[\"อีเมล\"] }}",
            "ประวัติและความสามารถคร่าวๆ": "={{ $json[\"ประวัติและความสามารถโดยสรุป\"] }}",
            "สมัครตำแหน่ง": "={{ $json[\"สมัครตำแหน่ง\"] }}",
            "เหมาะสมแค่ไหน": "={{ $json[\"เหมาะสมแค่ไหน\"] }}",
            "เหมาะสมกับตำแหน่งไหน": "={{ $json[\"เหมาะสมกับตำแหน่งไหน\"] }}",
            "Link PDF": "={{ $('Download file').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "ชื่อ-นามสกุล"
          ],
          "schema": [
            {
              "id": "ชื่อ-นามสกุล",
              "displayName": "ชื่อ-นามสกุล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "เบอร์โทรศัพท์",
              "displayName": "เบอร์โทรศัพท์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "อีเมล",
              "displayName": "อีเมล",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ประวัติและความสามารถคร่าวๆ",
              "displayName": "ประวัติและความสามารถคร่าวๆ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "สมัครตำแหน่ง",
              "displayName": "สมัครตำแหน่ง",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เหมาะสมกับตำแหน่งไหน",
              "displayName": "เหมาะสมกับตำแหน่งไหน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "เหมาะสมแค่ไหน",
              "displayName": "เหมาะสมแค่ไหน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link PDF",
              "displayName": "Link PDF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -176
      ],
      "id": "5a24ef41-b959-4aef-a408-c886b6dec1d3",
      "name": "อัพขึ้น Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7nL1gOcVyFY4lML6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Resume PDF จาก Gmail').item.json.from }}",
        "subject": "=แจ้งการส่ง Resume",
        "message": "=เรียนผู้ส่ง,\n\nขอบคุณที่ติดต่อเข้ามายังระบบรับสมัครงานอัตโนมัติของเรา  \nอย่างไรก็ตาม อีเมลนี้ถูกกำหนดไว้สำหรับการส่ง Resume เท่านั้น  \nเพื่อให้ระบบสามารถดำเนินการได้อย่างถูกต้องและรวดเร็ว  \nกรุณาปรับการส่งอีเมลของท่านใหม่ตามเงื่อนไขดังต่อไปนี้:\n\n1) โปรดตั้งหัวข้อ (Subject) เป็น \"ส่ง resume\", \"resume\" หรือ \"เรซูเม่\"  \n2) กรุณาแนบไฟล์ Resume ของท่านเป็นไฟล์ .pdf เท่านั้น  \n   (ระบบไม่รองรับไฟล์สกุลอื่น เช่น .docx, .jpg, หรือ .png)  \n3) หากต้องการติดต่อเรื่องอื่น ๆ เช่น การสอบถามข้อมูล ใบแจ้งหนี้ หรือการสนับสนุนด้านเทคนิค  \n   กรุณาส่งอีเมลไปยังช่องทางที่เกี่ยวข้องโดยตรง เพื่อความรวดเร็วในการตอบกลับ\n\nทั้งนี้ หากท่านส่งอีเมลตามเงื่อนไขด้านบน ระบบจะสามารถนำ Resume ของท่านเข้าสู่กระบวนการตรวจสอบได้โดยอัตโนมัติ  \nและจะแจ้งผลการประมวลผลให้ทราบภายหลัง\n\nขอบคุณสำหรับความร่วมมือ  \nทีมงาน HR\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        0
      ],
      "id": "e20bb8ee-0187-4ef7-b898-9e28a9868afc",
      "name": "Other",
      "webhookId": "211eecce-0c7c-4192-ad43-03bfe06d0041",
      "credentials": {
        "gmailOAuth2": {
          "id": "gutFBsC2pKUX6uLV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Resume PDF จาก Gmail').item.json.from }}",
        "subject": "ขอบคุณสำหรับการสมัครงาน",
        "message": "=เรียนคุณ : {{ $('Resume PDF จาก Gmail').item.json.from }}<br><br>\nทางบริษัทได้รับ Resume ของคุณเป็นที่เรียบร้อยแล้ว ขอบคุณที่ให้ความสนใจสมัครงานกับบริษัทของเรา\nทีมงาน HR จะดำเนินการตรวจสอบคุณสมบัติของคุณ หากคุณผ่านการพิจารณาเบื้องต้น เราจะติดต่อกลับเพื่อนัดสัมภาษณ์โดยเร็วที่สุด\nหากมีเอกสารเพิ่มเติม ทางเราจะแจ้งให้ทราบภายหลัง<br><br>\nขอแสดงความนับถือ<br>\n[NOPPADON BUNSENGA HR / แผนกทรัพยากรบุคคล]<br>\n[SOY 7]\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1712,
        -176
      ],
      "id": "4e74469a-b956-4045-9f1b-5553582473d8",
      "name": "Send a message",
      "webhookId": "b27f06cc-9e91-4c21-9a6d-ed5ea089482a",
      "credentials": {
        "gmailOAuth2": {
          "id": "gutFBsC2pKUX6uLV",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Resume PDF จาก Gmail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "PDFco Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFco Api": {
      "main": [
        [
          {
            "node": "คัดกรองสาย",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "อัพขึ้น Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "คัดกรองสาย",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "คัดกรองสาย": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "อัพขึ้น Sheet": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14611ba1-a398-442e-a5fe-33625073fb62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ffe81eeecacc0ac8568bdf22d751da788df336c117cf55bde0e9089433631e5"
  },
  "id": "rVvythCmKJG5JQXK",
  "tags": []
}