Lab4/Lab_4.json
{
  "name": "Lab-4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7a3258a4-1173-4426-b917-937ee5bda96d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aAJIJulrFDWP53UK6-aO4ddSHnIdhi_fBW42Z5btaYI",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aAJIJulrFDWP53UK6-aO4ddSHnIdhi_fBW42Z5btaYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1373989160,
          "mode": "list",
          "cachedResultName": "ชีต2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aAJIJulrFDWP53UK6-aO4ddSHnIdhi_fBW42Z5btaYI/edit#gid=1373989160"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "a9174328-8ec3-4e9b-9205-9f9d7e6d3312",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7nL1gOcVyFY4lML6",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\":\n  \"Mozilla/5.0\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        444.1300219944989,
        0
      ],
      "id": "a9c678c4-dcdd-4ef6-bb63-016cc43b86f9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\n\n\nconst match = html.match(/var ytInitialData = (.*?);\\s*<\\/script>/s);\nif (!match) {\n  return [{ json: { error: \"ytInitialData not found\" } }];\n}\n\nlet data;\ntry {\n  data = JSON.parse(match[1]);\n} catch (err) {\n  return [{ json: { error: \"Invalid JSON\", details: err.message } }];\n}\n\nlet title = null;\nlet description = null;\n\n\ntry {\n  const contents = data.contents.twoColumnWatchNextResults.results.results.contents;\n  const videoPrimaryInfo = contents.find(c => c.videoPrimaryInfoRenderer);\n  title = videoPrimaryInfo.videoPrimaryInfoRenderer.title.runs[0].text;\n} catch (e) {\n  title = null;\n}\n\n\nfunction findAttributedDescription(obj) {\n  if (typeof obj !== 'object' || obj === null) return null;\n\n  if (obj.attributedDescription && obj.attributedDescription.content) {\n    return obj.attributedDescription.content;\n  }\n\n  for (const key in obj) {\n    const result = findAttributedDescription(obj[key]);\n    if (result) return result;\n  }\n\n  return null;\n}\n\ndescription = findAttributedDescription(data);\n\nreturn [{\n  json: {\n    title,\n    description\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        0
      ],
      "id": "d7234249-05ed-4a0c-b540-a7a09e752a4c",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1560,
        -20
      ],
      "id": "b78d5dbd-af02-4704-a3c5-9d849d188012",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        780,
        240
      ],
      "id": "523e200f-2fee-4e45-9319-2d4405f25080",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "VkqgKRV78bJ2hGOA",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณเป็นผู้เชี่ยวชาญ YouTube SEO โปรดตั้งชื่อคลิปใหม่ให้ดึงดูดคนดูมากขึ้น โดยอิงจากชื่อเก่า แสดงผลลัพธ์เฉพาะ JSON แบบนี้:\n\n{\n  \"title_old\": \"{{ $json.title }}\",\n  \"title_new\": \"...\"\n}\n\n***อย่าใส่เครื่องหมาย ``` หรือคำอธิบายอื่น***",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        960,
        -120
      ],
      "id": "9968d27b-a69c-494b-8bdc-92442bdff361",
      "name": "New title"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณเป็นผู้เชี่ยวชาญ YouTube SEO โปรดตั้งชื่อDescriptionใหม่ให้ดึงดูดคนดูมากขึ้น โดยอิงจากชื่อเก่าแสดงผลลัพธ์เฉพาะ JSON แบบนี้:\n\n{\n  \"des_old\": \"{{ $json.description }}\",\n  \"des_new\": \"...\"\n}\n\n***อย่าใส่เครื่องหมาย ``` หรือคำอธิบายอื่น***\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        960,
        140
      ],
      "id": "7249d396-6067-423b-be95-3633515fad6c",
      "name": "New discription"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"text\"]; // ดึง string ที่เก็บ JSON มา\nconst parsed = JSON.parse(raw); // แปลง string -> object JSON แท้\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -120
      ],
      "id": "135e19b0-bce7-42e0-8fa4-79147a9e3856",
      "name": "แปลงให้เป็น Json"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"text\"]; // ดึง string ที่เก็บ JSON มา\nconst parsed = JSON.parse(raw); // แปลง string -> object JSON แท้\n\nreturn [{ json: parsed }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        140
      ],
      "id": "ac84eb68-9ad8-4df1-8801-b5548870bb8c",
      "name": "แปลงให้เป็น Json1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1800,
        -20
      ],
      "id": "e4b9fea2-6041-4c0d-95f7-04791c9308bb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aAJIJulrFDWP53UK6-aO4ddSHnIdhi_fBW42Z5btaYI",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aAJIJulrFDWP53UK6-aO4ddSHnIdhi_fBW42Z5btaYI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1373989160,
          "mode": "list",
          "cachedResultName": "ชีต2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aAJIJulrFDWP53UK6-aO4ddSHnIdhi_fBW42Z5btaYI/edit#gid=1373989160"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title_old": "={{ $json.data[0].title_old }}",
            "title_new": "={{ $json.data[0].title_new }}",
            "des_old": "={{ $json.data[1].des_old }}",
            "des_new": "={{ $json.data[1].des_new }}",
            "Url": "={{ $('Google Sheets').item.json.Url }}"
          },
          "matchingColumns": [
            "Url"
          ],
          "schema": [
            {
              "id": "Url",
              "displayName": "Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title_old",
              "displayName": "title_old",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "des_old",
              "displayName": "des_old",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title_new",
              "displayName": "title_new",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "des_new",
              "displayName": "des_new",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2020,
        -20
      ],
      "id": "fbb86126-9e61-4b1a-aa86-31ffe52314d5",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7nL1gOcVyFY4lML6",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "New title",
            "type": "main",
            "index": 0
          },
          {
            "node": "New discription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "New title",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "New discription",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "New title": {
      "main": [
        [
          {
            "node": "แปลงให้เป็น Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "แปลงให้เป็น Json": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New discription": {
      "main": [
        [
          {
            "node": "แปลงให้เป็น Json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "แปลงให้เป็น Json1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3530ab5-b389-433a-8eb7-104ff0b0f309",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ffe81eeecacc0ac8568bdf22d751da788df336c117cf55bde0e9089433631e5"
  },
  "id": "PU816UnBlcaPbbI8",
  "tags": []
}